[submodule "vendored/openal-soft"]
	path = vendored/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "vendored/glfw"]
	path = vendored/glfw
	url = https://github.com/glfw/glfw
[submodule "vendored/glm"]
	path = vendored/glm
	url = https://github.com/g-truc/glm
[submodule "vendored/freetype"]
	path = vendored/freetype
	url = https://github.com/freetype/freetype
[submodule "vendored/FreeImage"]
	path = vendored/FreeImage
	url = https://github.com/dllsystem/FreeImage
